<easycrawler>
	<LogLevel>2</LogLevel>
	<ResultPath>d:/easycrawlerresult/</ResultPath>
	<Domain>.net</Domain>
	<Charset>GBK</Charset>
	<HttpTimeOut>300000</HttpTimeOut>
	<PagePerFile>100</PagePerFile>
	<Host>http://www.miibeian.gov.cn/</Host>
	<PageSize>100</PageSize>
	<ThreadNumber>15</ThreadNumber>
	<LogFileNumber>30</LogFileNumber>
</easycrawler>